/* Add here all your CSS customizations */
.body-sign .card-sign .card-body {border-top-color: #e2c54e;border-radius:0px;}
.grid-badge{padding: 0.5em;}
.grid-view .table{margin-bottom: 0px;}
.grid-view .table th a{color: #212529;}
.grid-view .table th a.btn{color: #fff;}

.card-featured-warning{border-color:#e2c54e;}
.card-featured-warning .card-title{color: #000;}
.card-featured-primary {border-color: #0088CC;}
.card-featured-primary .card-title {color: #0088CC;}
.card-header{padding: 13px;}
.card-body{paddi1ng: .0rem;}

.toggle-quaternary .toggle label {
    color: #383f48;
    border-left-color: #383f48;
    border-right-color: #383f48;
}
.toggle-quaternary .toggle.active > label, .toggle-quaternary .toggle.done > label {
    background-color: #383f48 !important;
    border-color: #383f48;
    color: #FFF;
}
.toggle.done > label:before {
    border: 6px solid transparent;
    border-left-color: #FFF;
    margin-top: -3px;
    right: 10px;
}

.modalContent .card-title{font-size: 16px;}
.modalContent .card-body{padding:14px;background: #eee;}

.table th, .table td{padding: 0.45rem 0.75rem; vertical-align: middle;}

.view-detail.table th{font-weight: bold;}

.file{visibility: hidden;position: absolute;}

#discount-list-view .item img, .discount-image img{margin-bottom: 10px;}

td span.dblock{display: inline-block;}
.pull-right{float:right;}

.grid-view .tab-pane .card-body{padding:0px;}

html body .tabs .nav-tabs .nav-link,
html.dark body .tabs .nav-tabs .nav-link,
html body .tabs .nav-tabs .nav-link:hover,
html.dark body .tabs .nav-tabs .nav-link:hover {
  color: #000;
}
html body .tabs .nav-tabs .nav-link:hover,
html.dark body .tabs .nav-tabs .nav-link:hover,
html body .tabs .nav-tabs .nav-link:focus,
html.dark body .tabs .nav-tabs .nav-link:focus,
html body .tabs .nav-tabs .nav-link.active,
html.dark body .tabs .nav-tabs .nav-link.active {
  border-top-color: #e2c54e;
}
html body .tabs .nav-tabs li.active .nav-link,
html.dark body .tabs .nav-tabs li.active .nav-link {
  border-top-color: #e2c54e;
  color: #000;
}

html body .tabs .tabs .nav-tabs li.active .nav-link,
html.dark body .tabs .tabs .nav-tabs li.active .nav-link {
  border-top-color: #0088cc;
  color: #000;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto;z-index: 99999 !important;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.grid-view .card-body{padding:2px;}
.grid-view .card-body .table th, .table td{padding: 0.30rem 0.25rem;}


.grid-view.fixed-header table {
  border-collapse: collapse;
  overflow-x: scroll;
}
.grid-view.fixed-header thead {
  background-color: #EFEFEF;
}
.grid-view.fixed-header thead, .grid-view.fixed-header tbody {
  display: block;
}
.grid-view.fixed-header tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.grid-view.fixed-header td, .grid-view.fixed-header th {
  min-width: 100px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.grid-view.fixed-header td.fxd1, .grid-view.fixed-header th.fxd1 {
  min-width: 50px;
  max-width: 50px;
  overflow: visible;
}
.grid-view.fixed-header td.fxd2, .grid-view.fixed-header th.fxd2 {
  min-width: 75px;
  max-width: 75px;
}
.grid-view.fixed-header td.fxd3, .grid-view.fixed-header th.fxd3 {
  min-width: 125px;
  max-width: 125px;
}
.grid-view.fixed-header td.fxd4, .grid-view.fixed-header th.fxd4 {
  min-width: 175px;
  max-width: 175px;
}
.grid-view.fixed-header td.fxd5, .grid-view.fixed-header th.fxd5 {
  min-width: 225px;
  max-width: 225px;
}
.grid-view.fixed-header td.fxdBig, .grid-view.fixed-header th.fxdBig {
  min-width: 200px;
  max-width: 200px;
}
.grid-view.fixed-header .tbl-container{
  width:100%;
  overflow-x:auto;
}


.select2-container, .bootstrap-datetimepicker-widget{z-index: 999999 !important;}
.nav.nav-tabs .action-btns a{margin-left:5px; text-decoration: none;}
.card-btn-actions {
  right: 15px;
  position: absolute;
  top: 15px;
}
.swal2-container.swal2-shown{z-index: 9999;}
.bootstrap-select.form-control .dropdown-toggle{    background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #495057 !important;
  font-size: 0.85rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
}
.page-header h2 {
  border-bottom-color: #0088CC;
}
.mce-container{z-index: 9999999 !important}
.top-filter-row .help-block{display: none;}

.card-body.filter-padding{padding:8px;}
.stats-row .card-body{padding: 10px;}

#boats-list-view img{width: 100%;}
#boats-list-view p.h3{margin-top: 0px !important;}
#boats-list-view.search-results-list{max-width: none;}
#boats-list-view.search-results-list a{display: inline-block;padding: 0;}
#boats-list-view.search-results-list p.h3 a{border-radius:0;display: inline-block;padding: 0.25em 0.4em;font-size: 50%;}
#boats-list-view.search-results-list p.h3 a:hover{background: #5bc0de;}
.booking-create .nav-item a{background: #ccc;}
.booking-create .nav-item a:hover{background: #ccc !important;border-top-color: #555555 !important;}
.booking-create .nav-item.active a{background: #ffffac !important;}
.booking-create .nav-item.active a:hover{border-top-color: #e2c54e !important;}

#boats-list-view li {
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}
#boats-list-view .h3 {
font-size: 1.25rem;
}

#db-user-request-container .filters, #db-user-booking-container .filters{display:none;}
.radio-custom{line-height: 32px;}
.radio-custom.disabled label{text-decoration: line-through;}
.radio-custom label .btn-book{display: none;}
.radio-custom.active label .btn-book{display:inline-block;}

.grid-view .dropdown-item .badge{font-size: 80%;}
.grid-view .dropdown-item .btn-xs{font-size: 0.6rem;padding: 0.1rem 0.4rem;}
.grid-view td .btn-xs{font-size: 0.6rem;padding: 0.1rem 0.4rem;}

.db-mbtns .card-header-icon{background: #000 !important;color: #e2c54e;font-size: 15px;width: 45px !important; height:45px !important; line-height: 45px !important;}
.db-mbtns .card-header{padding: 10px 0px 0px}
.db-mbtns .card-body{padding: 10px 0px 10px}
.db-mbtns .card-body h3{color:#0088cc;font-size: 16px;font-weight: bold;}
#reqType{
    border: 1px solid #E5E7E9;
    border-radius: 6px;
    height: 46px;
    padding: 12px;
    outline: none;
}

.file-input .input-group-text{padding:0px 3px;}
.file-input .input-group-text img{height: 25px;}

.btn-success{color: #fff !important;}
.sp-boat div{margin-bottom:5px;}

.btnopts{margin-bottom: 20px;}
.btnopts .view-type.active{background: #ffffac;color: #555555;border-color: #FC0 !important;}
.isFullBooked{display: none;}
.isFullBooked.showIt{display:block !important;}

.row-affix.affix{top:99px;z-index: 9; background:#fff; width:89.5%}
.tab-affix.affix{top:150px;}

.dropdown-menu td, .dropdown-menu th{font-size: 13px;}
.grid-view .dropdown-menu.dropdown-menu-right{padding: 3px;}
.grid-view .dropdown-menu.dropdown-menu-right td, .grid-view .dropdown-menu.dropdown-menu-right th{font-size: 12px;}
.grid-view .dropdown-menu th.addons-col-1{padding-right: 90px;}
.grid-view .dropdown-menu th.addons-col-2{padding-right: 180px;}
.grid-view .dropdown-menu th.addons-col-3{padding-right: 15px;}


.body-sign.membership-card{height:auto;}
.body-sign.membership-card .card-sign .card-body{padding:10px 0;}
.body-sign.membership-card .card-sign .card-body img.photo{border:3px solid #000; border-radius:5px;}
.body-sign.membership-card .card-sign .card-body td{line-height: 35px; font-size: 16px;}

#forget-form h3, #reset-password-form h3{margin: 0 0 10px;}

#bankOption ol.bnum {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}

#bankOption ol.bnum>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}

#bankOption ol.bnum>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

.swal2-container.swal2-shown{z-index: 999999999;}


#myProgress{
  border: 1px solid #ccc;
}
#myBar {
    width: 0%;
    height: 10px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 11px; /* To center it vertically */
    color: white;
    font-size: 10px;
}

.requested-addons-list{width: 260px;}

.grid-view.fixed-cols table {
  border-collapse: collapse;
}
.grid-view.fixed-cols thead {
  background-color: #EFEFEF;
}
.grid-view.fixed-cols thead, .grid-view.fixed-cols tbody {
  display: block;
}
.grid-view.fixed-cols td, .grid-view.fixed-cols th {
  min-width: 100px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.grid-view.fixed-cols td.fxd1, .grid-view.fixed-cols th.fxd1 {
  min-width: 50px;
  max-width: 50px;
  overflow: visible;
}
.grid-view.fixed-cols td.fxd2, .grid-view.fixed-cols th.fxd2 {
  min-width: 75px;
  max-width: 75px;
}
.grid-view.fixed-cols td.fxd3, .grid-view.fixed-cols th.fxd3 {
  min-width: 125px;
  max-width: 125px;
}
.grid-view.fixed-cols td.fxd4, .grid-view.fixed-cols th.fxd4 {
  min-width: 175px;
  max-width: 175px;
}
.grid-view.fixed-cols td.fxd5, .grid-view.fixed-cols th.fxd5 {
  min-width: 225px;
  max-width: 225px;
}
.grid-view.fixed-cols td.fxdBig, .grid-view.fixed-cols th.fxdBig {
  min-width: 200px;
  max-width: 200px;
}
.grid-view.fixed-cols .tbl-container{
  width:100%;
  overflow-x:auto;
}

.btn-gray{
  background-color: #ccc;
  border-color: #ccc;
  color: #000;
}


.btn-gray:hover, .btn-gray.hover {
	background-color: #e1e1e1;
	border-color: #e1e1e1;
	color: #000;
}

.btn-gray:focus, .btn-gray.focus {
	-webkit-box-shadow: 0 0 0 3px rgba(71, 164, 71, 0.5);
	box-shadow: 0 0 0 3px rgba(71, 164, 71, 0.5);
	color: #000;
}

.badge-not-met {
    background: #ff5400;
    color: #FFF;
}

#memebershipcard .modal-body{padding: 0px;}
.bg-memcard{background: url('../images/card-side.jpg') right no-repeat;}
.bg-memcard img{width: 150px; margin-right: 10px; margin-left: 5px}
.bg-memcard .mem-info{font-size: 1rem; line-height: 1.8;max-width:200px;min-height: 150px;}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .bg-memcard img{margin-left: 0px;width: 100px;}

}

.nc-heading{
  color: #33353F;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  text-transform: none;
  margin: 0 0 10px;
}

.cursor-pointer{cursor: pointer;}
.booking-create .radio-custom{margin-bottom: 0;}
.booking-create .i-item{line-height:32px; margin-left: 5px}

.radio-custom .bookbtn{display: none;}
.radio-custom.active .bookbtn{display: inline-block;;}

/*Booking Card Start*/
.black-background {  background: black;  }
.card-header-custom {  font-size: 18px;  font-weight: 800;  }
.card-body-custom {  font-size: 18px; }
.p0 {  padding: 0px; padding-left: 2px;   }
.p5 {  padding: 5px;  }
.yellow-font {  color: #EAB220; }
.pb5 {  padding-bottom: 5px;  }
.pb10 {  padding-bottom: 10px;  }
.pb20 {  padding-bottom: 20px;  }
.small-font {  font-size: x-small;  }
.grey-font {  color: #777777; }
.red-font {  color: #E53E3E; }
.table-booking-custom th {  font-size: small;  font-weight: 800;  color: #777777; }
.table-booking-custom {  font-size: small !important;  }
.btn-containers {  width: 100%;  font-size: smaller;  border: none; }
.btn-containers::after, ::before {  border-width: 0;  border-style: solid;  border-color: #e2e8f0; }
.p-1 {  padding: .25rem; }
.bg-yellow-600 {  background-color: #d69e2e; }
.bg-red-600 {  background-color: #e53e3e; }
.hover\:bg-red-400:hover { background-color: #fc8181; }
.rounded {  border-radius: .25rem; }
.shadow-none {  box-shadow: none; }
.bg-yellow-400 { background-color: #f6e05e; }
.hover\:bg-yellow-400:hover { background-color: #f6e05e; }



.bca-modal .modal-body{padding: 0px;}
.bca-modal .modal-title{font-size: 1.25rem;}
.bca-modal .table-responsive{}
.bca-modal .table th, .bca-modal .table td{padding: 0.60rem 0.35rem;font-size: 1rem;}
.bca-modal .table{margin-bottom: 0;}
/*Booking Card End*/


.card-actions a.btn{
color: #fff;
font-size: 14px;
height:auto;
width:auto;}

.card-actions a.btn-primary{background-color: #007bff;}

a.delete-red-btn{color:red;}

.bca-modal .badge{word-break: break-word;white-space: normal;text-align: start;line-height: 20px;}
.bca-modal td.addons-col-2{max-width: 100px;}

.grid-view .nosd .btn-containers button.bg-yellow-600{background: green}
.booking-index .grid-view .nosd{width: 200px;padding: 15px;}

/*update padding*/

@media only screen and (max-device-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    .top-filter-row .col-xs-12 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .radio-custom {
        border-bottom: groove;
        padding-top: 5px;
        border-style: outset;
        border-radius: 5px;
        margin-top: 10px;
    }

    .radio-custom label:before {
        left: 5px;
    }

    .radio-custom input[type="radio"]:checked + label:after {
        left: 9px;
    }
}